# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List commonly used Data Science tools

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

### Create a markdown cell with a table of Data Science tools

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Sanfiya S